body {
  background-image: url("images/unrealbg.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#kitty {
  color: white;
  padding: 10px;
	border-style=: outset;
	border-spacing: 10px;
  text-align: center;
  }
table, th, td {
 border-radius: 0.1vw;
 border-style: inset;
 text-align: middle;
 padding: 10px;
 border-spacing: 10px;
 background-color: green;
}
th {
 background-color: blue; 
}
table {
 background-color: yellow;
}
city {
 background-color:blue;
 border:10px solid white;
 margin:5px;
 padding:5px;
}
a:link {
color: white;
background-color: transparent;
text-decoration: none;
}
a:visited {
color: green;
background-color: transparent;
text-decoration: none;
}
a:hover {
color: gold;
background-color: transparent;
text-decoration: none;
}
a:active {
color: blue;
background-color: transparent;
text-decoration: none;
}
h1 {
font-family: arial;
color: white;
}
h2 {
color: white;
}
h3 {
color: white;
}
p {
color: white;
}
ins {
color: white;
}
del {
color: white;
}
b {
color: white;
}
sup {
color: white;
}
bdo {
color: white;
}
strong {
color: white;
}
